.fa {
  float: right;
}

.core-nav{
  diplay: none;
  list-style: none;
  clear: both;
}

.core-nav: hover ul {
  display: block;
}
@media screen and (min-width: 650px) {
  .fa{
    display:none;
  }
  .core-nav ul {
    display: block;
  }
.core-nav li {
  display: inline-block;
}
}
