
h1{
  font-family: 'Volkhov', serif;
  font-size: 3em;
  color: black;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  color: #582fed;
}

ul li{
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}
p{
  font-family: 'Quicksand', sans-serif;
}
