
header{
  margin: 1em;
}

h1{
  font-family: 'Volkhov', serif;
  font-size: 3em;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  margin-left: 0.5em;
}

ul li{
   font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}
